.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputContainer h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    color: white;
    margin-bottom: 1.5rem;
}

.inputContainer h1 span {
    color: var(--primary-color);
}

.inputContainer div {
    display: flex;
    margin-bottom: 2rem;
}

.inputContainer input {
    width: 100%;
    padding: 0.5rem 0.2rem 0.5rem 0;
    text-indent: 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.inputContainer input::placeholder {
    font-size: 0.9rem;
}

.inputContainer button {
    padding: 0 1rem;
    height: 3rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

/* Result */

.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.result p {
    color: white;
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.result button {
    padding: 0.5rem 1rem;
    color: white;
    cursor: pointer;
    background: var(--primary-color);
    border: none;
}

.result button.copied {
    background: white;
    color: var(--primary-color);
}

/* Background */

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 38s linear infinite;
}

.background li:nth-child(0) {
    left: 78%;
    width: 68px;
    height: 68px;
    bottom: -68px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 2%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 42%;
    width: 54px;
    height: 54px;
    bottom: -54px;
    animation-delay: 10s;
}
.background li:nth-child(3) {
    left: 52%;
    width: 83px;
    height: 83px;
    bottom: -83px;
    animation-delay: 7s;
}
.background li:nth-child(4) {
    left: 10%;
    width: 49px;
    height: 49px;
    bottom: -49px;
    animation-delay: 14s;
}
.background li:nth-child(5) {
    left: 37%;
    width: 54px;
    height: 54px;
    bottom: -54px;
    animation-delay: 1s;
}
.background li:nth-child(6) {
    left: 34%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 12s;
}
.background li:nth-child(7) {
    left: 85%;
    width: 67px;
    height: 67px;
    bottom: -67px;
    animation-delay: 16s;
}
.background li:nth-child(8) {
    left: 47%;
    width: 72px;
    height: 72px;
    bottom: -72px;
    animation-delay: 12s;
}
.background li:nth-child(9) {
    left: 15%;
    width: 50px;
    height: 50px;
    bottom: -50px;
    animation-delay: 10s;
}
